@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&family=Poppins&display=swap');

body { 
    font-family: 'Poppins', sans-serif; ; 
    display: flex;
    flex-direction: column;
    margin: 0;
    color: white;
}

.headerimg {
    background-image: url("images/marcus.jpg");
}

.headertop { 
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.5);
}

.headerlinks {
    display:flex;
    font-size: 18px;
    font-weight: bold;
}

.logocontainer {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
}


.logoimg{
    display:flex;
    width: 30px;
    height: 30px;
    object-fit:contain;
}

.logotext { 
    display:flex;
    color: white;
    font-size: 24px;
    font-weight: bolder;
}

.contentcontainer {
    display:flex;
    height:100vh;
}

.contentheader {
    display: flex;
    font-weight: 900;
    font-size: 48px;
    text-align: left;
}

.contentsubtext {
    display: flex;
    font-size: 18px;
    margin-bottom: 16px;
    text-align: left;
}

.contenttext { 
    display: flex;
    align-items: flex-start;
    flex-direction:column;
    justify-content: center;
    padding:0;
    margin: 32px;
    width: 50vw;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
}

.hover-underline-animation:after {
    content:'';
    position:absolute;
    width: 100%;
    transform: scaleX(0);
    height:2px;
    bottom:0;
    left:0;
    background-color: white;
    transform-origin:bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.imagelayer { 
    display: flex;
    display: none;
    width: 50vw;
    justify-content: center;
}

.contentimg {
    display:flex;
    align-self: center;
    width: 30vw;
    margin: 16px;
    height: 360px;
    padding:0;
}

.boxheader {
    display:flex;
    justify-content: center;
    align-items: flex-start;
    font-weight: 900;
    font-size: 36px;
    width: 100%;
    margin:32px;
}

.boxcontainer {
    display:flex;
    background: black;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background:linear-gradient(to bottom,#232526,black);
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.5);
}

.boxcontent {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 64px;
}

.box {
    width: 200px;
    height: 280px;
    margin: 16px;
    border: 3px solid grey;
    border-radius:8px;
    transition: 0.5s all ease-in-out;
}

.box:hover {
    color: white; 
    background: white; 
    box-shadow: 0 0 18px white; 
    transform: scale(1.04);
}

.text {
    font-weight: 900;
}

.quotecontainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('images/marcus4.jpg');
    background-position: top;
    background-repeat: no-repeat;
    object-fit: cover;
}

.quotebox {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 32px;
    width: 700px;
    height: 350px;
}

.quotetext{
    text-align: center;
    font-size: 36px;
    text-shadow: 1px 1px 2px black;
}

.quoteperson{
    align-self: flex-end;
    text-align: center;
    margin-right: 64px;
    font-weight: 900;
    text-shadow: 1px 1px 2px black;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to bottom,#232526,black);
}

.modalcontent { 
    display:flex;
    margin: 16px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 32px;
    border: 1px solid white;
    border-radius:10px;
}

.modalheader { 
    font-size: 18px;
    font-weight:bolder;
}

.modaltext { 
    font-size: 12px;
}

.modalinfo {
    display:flex;
    flex-direction: column;
}

.signupcontainer { 
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    padding-left: 32px;
}

button {
    transition: all .5s ease;
    color: #fff;
    border: 3px solid white;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
}
button:hover {
    color: #001F3F;
    background-color: #fff;
}

.footer { 
    display:flex;
    background-color: grey;
}

.footertext {
    display:flex;
}

ul { 
    display:flex;
    list-style: none;
    padding:0;
    margin:0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

   


